body {
  background-color: #F0F2F5;
}

h1 {
  font-size: 4rem;
  color: blue;
  font-weight: bolder;
}

p {
  font-size: 1.5rem;
}

form {
  background-color: #fff;
  padding: 25px 25px 39px 25px;
}

.second {
  text-align: center;
}

.first {
  margin-top: 9rem;
}
